<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar>
  <span>{{title}}</span>
  <a [routerLink]='["protected"]'>Users</a>
  <a [routerLink]='["logs"]'>Logs</a>
  <div class='splitter'></div>
  <span *authEcadPermissions="'show.is-admin'">Is Admin</span>
  <span *authEcadPermissions="'show.boo'">Boo!</span>
  <span *ngIf='isLoggedIn | async'>Welcome {{(user | async)['http://localhost:8000/email']}}</span>
  <a *ngIf='isLoggedIn | async' href (click)='logout()'>Logout</a>
</mat-toolbar>
<router-outlet></router-outlet>